{{ $content_type := .Params.content_type }}
{{if $content_type}}
{{ $t := .Site.GetPage $content_type }}
{{ $rscPages := $t.Resources.ByType "page"}}

{{if gt (len $rscPages) 0}}
<div>
    <div>
        {{ range $page := $rscPages}}
        <div>
            <hr>
            <div class="publication_div">
                
                <!-- for teaser -->
                <div class="teaser">
                    <img src="{{ $page.Params.teaser }}"/>
                </div>
                
                <!-- for paper details -->
                <div class="pubcontent">
                    <div>
                        <!-- paper name -->
                        <span>
                            <strong>{{$page.Params.title}}</strong>
                        </span>
                        <br>
                        <!-- authors -->
                        <div>
                            {{ $authors := $page.Params.authors }}
            
                                {{ if $authors }}
                                    {{range $i, $author := $authors}}
                                    
                                    {{ if eq $author.item.name "Subhankar Roy" }}
                                        <span>
                                            <strong>{{$author.item.name}}</strong>
                                        </span>
                                    {{else}}
                                        {{ if eq $author.item.link ""}}
                                            <span>
                                                {{$author.item.name}}
                                            </span>
                                        {{else}}
                                            <span>
                                                <a href="{{ $author.item.link }}" target="_blank">{{$author.item.name}}</a>
                                            </span>
                                        {{end}}
                                    {{end}}
                                    
                                
                                    {{ if lt $i (sub (len $authors) 1)}}
                                        <span class="separator"> ,</span>
                                    {{end}}
                                {{end}}
                            {{end}}
            
                        </div>
                        <!-- tldr -->
                        <div>
                            <span class="text-muted"><u>TL;DR</u>: {{$page.Params.tldr}}</span>
                        </div>
                        <!-- venue -->
                        <div>
                            <span class="main_color italics"> {{$page.Params.publcation_abbreviation}} {{substr ($page.Params.date.Format "2006-01-02") 0 4}}</span>
                            <span>, {{$page.Params.location}}</span>
                        </div>
                        
                        <!-- for links -->
                        {{ $links := $page.Params.links }}
                        <div>
                            {{ $proceedings := index $page.Params.links "proceedings"}}
                            {{ $arxiv := index $page.Params.links "arxiv"}}
                            {{ $github := index $page.Params.links "github"}}
                            {{ $slides := index $page.Params.links "slides"}}
                            {{ $video := index $page.Params.links "video"}}
                            {{ $poster := index $page.Params.links "poster"}}
                            {{ $project := index $page.Params.links "project"}}
                            
                            {{ if $project }}
                                <a class="main_color text-decoration-none rounded" href="{{$project}}" target="_blank">
                                    Project Page <i data-feather="chrome"></i>
                                </a>
                            {{end}}
                            {{ if $proceedings }}
                                <a class="main_color text-decoration-none rounded" href="{{$proceedings}}" target="_blank">
                                    Proceedings <i data-feather="file"></i>
                                </a>
                            {{end}}
                            {{ if $arxiv }}
                                <a class="main_color text-decoration-none rounded" href="{{$arxiv}}" target="_blank">
                                    arXiv <i data-feather="file"></i>
                                </a>
                            {{end}}
                            {{ if $github }}
                                <a class="main_color text-decoration-none rounded" href="{{$github}}" target="_blank">
                                    GitHub <i data-feather="github"></i>
                                </a>
                            {{end}}
                            {{ if $slides }}
                                <a class="main_color text-decoration-none rounded" href="{{$slides}}" target="_blank">
                                    Slides <i data-feather="layout"></i>
                                </a>
                            {{end}}
                            {{ if $video }}
                                <a class="main_color text-decoration-none rounded" href="{{$video}}" target="_blank">
                                    Video <i data-feather="video"></i>
                                </a>
                            {{end}}
                            {{ if $poster }}
                                <a class="main_color text-decoration-none rounded" href="{{$poster}}" target="_blank">
                                    Poster <i data-feather="clipboard"></i>
                                </a>
                            {{end}}
                        </div>


                    </div>
                </div>

            </div>

        </div>

        {{end}}

    </div>
    {{end}}
</div>
{{end}}